#download{
  height: 50%;
  width: 100%;
  text-align: center;
  background-image: url("../../assets/download_background.png");
}

#download .title{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  color: gray;
  width: 30%;
  border-bottom: 1px solid gray;
}

#download a{
    text-decoration: none;
    font-size: 25px;
}

.dl_link{
  position: relative;
  display: block;
  height: 30px;
  white-space: nowrap;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dl_link:hover{
  background-color: #e74b3c;
}

.downloads{
  margin: 20px;
  padding: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
}
